.login-button {
    padding: 5px 0;

    color: var(--white-grey-light);
    background-color: var(--blue-middle);
    border: 1px solid var(--blue-middle);
    border-radius: 5px;
}

.login-button:hover {
    color: var(--white-grey-light);
    background-color: var(--blue-dark);
}

.login-button:active {
    color: var(--grey-dark);
    background-color: var(--blue-light);

    position: relative;
    top: 2px;
}

.modal-button {
    padding: 5px 8px;
    margin: 15px 5px 0;
    background-color: var(--blue-light);
    color: var(--grey-middle);
    border: none;
    border-radius: 5px;
}

.high-priority {
    background-color: var(--blue-middle);
    box-sizing: content-box;
    border: solid 0.8px var(--blue-dark);
}

.modal-button:hover {
    color: var(--white-grey-light);
    background-color: var(--blue-dark);
};

.modal-button:active {
    background-color: var(--blue-dark);
    color: var(--white);
}

.logout-button {
    padding: 5px 10px;

    color: var(--white-grey-light);
    background-color: var(--blue-middle);
    border: 1px solid var(--blue-dark);
    border-radius: 5px;
}

.logout-button:active {
    position: relative;
    top: 2px;
}