.navbar {
    padding: 8px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;

    padding: 0 12px;
    margin: 0 auto;

    width: 1320px;
    height: 40px;
}

.navbar-brand {
    color: var(--bs-blue);
    font-weight: bold;
}

.navbar-brand:visited {
    color: var(--bs-blue);
}

.navbar-brand:hover {
    color: var(--bs-blue);
}

.logout-button {
    padding: 5px 10px;

    color: var(--bs-gray);
    background-color: var(--bs-white);
    border: 1px solid var(--bs-blue);
    border-radius: 5px;
}

.logout-button:active {
    position: relative;
    top: 2px;
}

